#result{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.image{
    border-radius: 50%
}

#characterBox{
    border: black solid 1px;
    margin: 5px;
    padding: 20px;
    padding-right: 35px;
    padding-left: 35px;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
}

#characterBox:hover{
    background-color: rgba(255,255,255,0.7);
    box-shadow: 5px, 10px;
}

body{
    background-image: url('/assets/one.jpg');
    background-position: center;
}

@font-face {
    font-family: 'MISFITS_';
    src:    url('assets/MISFITS_.TTF') format('truetype');
}

.name{
    font-family: 'MISFITS_';
    font-size: 25px;
}